@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css or your CSS file */
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 100s linear infinite;
}
